body, html {
  font-family: 'Abril Fatface', cursive;
  background-color: black;
  -webkit-animation: fadein 3s; 
  -moz-animation: fadein 3s;
  -ms-animation: fadein 3s;
  -o-animation: fadein 3s;
  animation: fadein 3s;
}

nav {
  text-align: center;
  text-decoration: none;
}

nav li, a {
  text-decoration: none;
  display: inline-block;
  color: #F5F5F5;
  margin-right: 15px;
}

nav a:hover {
  text-decoration: none;
  color: #FFE0AF;
  transition: all 0.5s ease;
}

a.select {
  text-decoration: none;
  color: #FFE0AF;
}

#logo {
  margin-right: 20px;
  font-size: 22px;
  color: #FFE0AF;
}

.title {
  font-size: 55px;
  color: #F5F5F5;
  letter-spacing: 15px;
  text-align: center;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all 0.9s ease;
}

.pic {
  text-align: center;
  border: 21px double #FFE0AF;
}

@media (max-width: 480px) { 
  .title {
    font-size: 56px;
    transition: all 0.9s ease;
  }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
} 

@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}