<div class="container about">
  <div class="row">
    <div class="col-sm-6">
      <img class="proImg" src="http://placekitten.com/250/350">
    </div>
    <div class="col-sm-6 text">
      <p>Hello my name is</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <img class="proImg" src="http://placekitten.com/250/350">
    </div>
    <div class="col-sm-6 text">
      <p>Hello my name is</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <img class="proImg" src="http://placekitten.com/250/350">
    </div>
    <div class="col-sm-6 text">
      <p>Hello my name is</p>
    </div>
  </div>
</div>