<div ng-controller="AboutCtrl">
  <nav>
    <ul>
      <li id="logo">G</li>
      <li>
        <a href="#/">Home</a>
      </li>
      <li>
        <a href="">Music</a>
      </li>
      <li>
        <a href="">Shows</a>
      </li>
      <li>
        <a href="">Merch</a>
      </li>
      <li>
        <a class="select" href="#/about">About</a>
      </li>
    </ul>
  </nav> 
  <div class="container about">
    <div class="row">
      <div class="col-sm-6">
        <img class="proImg" src="http://placekitten.com/250/350">
      </div>
      <div class="col-sm-6 text">
        <p>Hello my name is</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <img class="proImg" src="http://placekitten.com/250/350">
      </div>
      <div class="col-sm-6 text">
        <p>Hello my name is</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <img class="proImg" src="http://placekitten.com/250/350">
      </div>
      <div class="col-sm-6 text">
        <p>Hello my name is</p>
      </div>
    </div>
  </div>
</div>