<div class="main">  
  <nav>
    <ul>
      <li id="logo">C&F</li>
      <li>
        <a class="select" href="#/">Home</a>
      </li>
      <li>
        <a href="">Music</a>
      </li>
      <li>
        <a href="">Shows</a>
      </li>
      <li>
        <a href="">Merch</a>
      </li>
      <li>
        <a href="#/about">About</a>
      </li>
    </ul>
  </nav>
  <div>
    <h2 class="title">The Courage & The Fear</h2>
  </div>  
  <div class="pic container">
    <img width="100%" src="https://pixabay.com/static/uploads/photo/2014/09/22/00/56/lead-singer-455750_960_720.jpg">
  </div>
</div>